<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575781380823-4mfhn8kithfnm31jp01i1o727rjccej6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575781380823-4mfhn8kithfnm31jp01i1o727rjccej6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBxGtbml3OpsdaDag3amgFRRI7LxSJVos</string>
	<key>GCM_SENDER_ID</key>
	<string>575781380823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhm.woodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-otp-auth-6943d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-otp-auth-6943d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575781380823:ios:910edc57a75025b2bcc692</string>
</dict>
</plist>